/* Universal Styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
}

h1 {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.67rem 0;
}
h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.83rem 0;
}
h3 {
    display: block;
    font-size: 1.17rem;
    font-weight: bold;
    margin: 1rem 0;
}
h4 {
    display: block;
    font-weight: bold;
    margin: 1.33rem 0;
}
h5 {
    display: block;
    font-size: 0.83rem;
    font-weight: bold;
    margin: 1.67rem 0;
}
h6 {
    display: block;
    font-size: 0.67rem;
    font-weight: bold;
    margin: 2.33rem 0;
}

p {
    display: block;
    margin: 0.67rem 0;
}

/* Header Menu */

header {
    height: 64px;
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0 24px;
}

nav {
    padding: 0 24px;
}

header span {
    padding: 8px;
}

/* Header Banner */

#header-banner {
    padding-top: 64px;
    display: flex;
    align-items: center;
    background-color: lightgray;
}

#header-banner img {
    width: 100%;
}

#header-banner button {
    border: none;
    width: 100%;
    padding: 16px;
}

.banner-img {
    width: 60%;
}

.banner-text {
    width: 40%;
}

.text-child {
    padding: 48px;
}

@media only screen and (max-width: 960px) {
    #header-banner {flex-wrap: wrap;}  
    .banner-img {width: 100%;}
    .banner-text {width: 100%;}
}