/* Universal Styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1 {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.67rem 0;
}

h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.83rem 0;
}

h3 {
    display: block;
    font-size: 1.17rem;
    font-weight: bold;
    margin: 1rem 0;
}

h4 {
    display: block;
    font-weight: bold;
    margin: 1.33rem 0;
}

h5 {
    display: block;
    font-size: 0.83rem;
    font-weight: bold;
    margin: 1.67rem 0;
}

h6 {
    display: block;
    font-size: 0.67rem;
    font-weight: bold;
    margin: 2.33rem 0;
}

p {
    display: block;
    margin: 0.67rem 0;
}

/* Header Menu */

header {
    height: 64px;
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0 24px;
}

nav {
    padding: 0 24px;
}

header span {
    padding: 8px;
}

#mobile-nav {
    display: none;
}

#mobile-nav img {
    padding: 0 4px;
}

@media screen and (max-width: 640px) {
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }
}

/* Header Banner */

#header-banner {
    padding-top: 64px;
    display: flex;
    align-items: center;
    background-color: lightgray;
}

#header-banner img {
    width: 100%;
}

#header-banner button {
    border: none;
    width: 100%;
    padding: 16px;
}

.banner-img {
    width: 60%;
}

.banner-text {
    width: 40%;
}

.text-child {
    padding: 48px;
}

@media screen and (max-width: 960px) {
    #header-banner {
        flex-wrap: wrap;
    }

    .banner-img {
        width: 100%;
    }

    .banner-text {
        width: 100%;
    }
}

/* Info Section */

#info-section {
    display: flex;
}

.info-main {
    width: 60%;
}

.info-main img {
    width: 100%;
}

.info-sub {
    width: 40%;
    padding: 32px 0;
}

.sub-item {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    flex-grow: 1;
}

.sub-img {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.sub-child {
    width: 60%;
    padding: 0 32px;
}

.sub-img img {
    width: 100%;
}

.main-img {
    padding: 32px 0 0 48px;
}

.main-text {
    padding: 32px 0 32px 48px;
}

.info-sub-content {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
}
